header{
        display: flex;
        align-items: center;
        background-color: #4f4a48;
        box-shadow: 1px 10px 10px  rgba(206, 206, 206, 0.8);
        justify-content: space-around;
        height: 90px;
        position: sticky;top: -15px;
        z-index: 6;
        font-family: 'Candara';
}

    ul li{
        display: inline-flex;
    }

        ul li a{
            display: flex;
            padding: 32px 20px;
            font-size: 20px;
}
ul a:hover{ background-color: #000;}
.center_nav-header{
    padding: 0 5% 0 15%;
}
.right_header{
    margin-top: 8px;
}

.call_header_info a{
    color: #fff;
    display: flex;   
}

.call_header_info{  color: #fff;
    display: flex;
    font-size: 17px;
    font-family: 'Candara';

}
.btn_caller_header{
    background-color: rgb(16, 16, 16);
    padding: 4% 20px;
    border-radius: 10px;
    cursor: pointer;

}
/* SLIDER BLOCK */
.slider{
    background-color: #1f1c1c;
    opacity: .8;   
    height: 90vh;
    padding: 3% 5%;   
     display: flex;
    overflow: hidden;  
    justify-content: center;
    flex-direction: column;
}
.tittle_slider{
    margin: 0 auto 1%;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Candara';
}
.slides{
    display: flex;   
    flex-shrink: 0;
    transition: all 0.9s ;
    z-index: 4;
}
.slider__inner{
    overflow: hidden; opacity:1;   
}
.slider_output{ 
    padding: 5px 10px;
    margin: 0 auto;
    width: 50%;  
    display: flex;
    height: 100%;
    position: relative;
    background-color: #3a3636;
    justify-content: center;
}
.slide_one,.slide_two,.slide_three{
        flex-shrink: 0;
        display: flex;
        width: 100%;

}
.slides img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;  
    margin-top:3%;
}
input[name="switch"]{
    display: none;
}
.switch{
        position: absolute;
        top: 5px;
        z-index: 5;
}

.switch label{
	display: inline-block;
    width: 13px;
    height: 13px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    background-color: #ffffff;
 
}

#btn1:checked~.switch label[for="btn1"], 
#btn2:checked~.switch label[for="btn2"] ,
#btn3:checked~.switch label[for="btn3"] {
  background-color: rgb(0, 0, 0);
}
#btn1:checked~.slider__inner .slides{
    transform: translateX(0%);
}
#btn2:checked~.slider__inner .slides{
    transform: translateX(-100%);
}
#btn3:checked~.slider__inner .slides{
    transform: translateX(-200%);
}



/* БЛОК С ПРЕИМУЩЕСТВАМИ */
.features{
    height: 895px;
    background-image: url('../img/fon_features.jpg');
    background-color: linear-gradient(#333,#555 rgba(#567,#777));
    opacity: .8;
    background-size: cover;
    background-position:center  70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 5% 0;
    width: 100%;
}
.features__titile{
    color: #fff;
    opacity: 1;
    font-weight: bold;
    text-align: center;
    width: 60%;
    margin: 0 auto 7%;
    padding:0 10%;
    text-transform: uppercase;
}
.columns_feautures{
    background-color: #fff;
    margin: 2% auto;
    padding: 30px 20px ;
    box-shadow: 1px 10px 10px 10px rgba(250, 247, 247, 0.8);
}
.features_content{ 
    display: grid;  
    grid-template-columns: repeat(2, 35%);
    grid-template-rows: repeat(2, max-content);
    height: 60%;
    justify-content: space-around; width: 100%;}







.goods{
    height:max-content;
    background-color: #646464;
    padding: 5% 0 0 2%;
}
.goods__tittle{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: 'Verdana';
}

.goods_cols{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(4, 500px);
    padding: 3% 5%;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
}
.cols{
    background-color: #fff;
    padding: 0 3%;
    position: relative;
} 
 .img__goods_container{
    height: 70%;  margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #a9a9a9;
} 
.img_goods{
    height: 100%;
    width: 100%;
}

.window_goods-details {
   width:100%;
   height:100%;
   top: 0;
   left: 0;
   position:fixed;
   right: 0;
   bottom: 0;
   background-color: rgba(255,255,255,1);
}
.window_goods-details{  
    width: 900px;
    max-width: 50%;
    max-height: 100%;
    height:800px;
    border-radius: 0.5em;
    top: 10%;
    left: 25%;
    display: flex;
    visibility: hidden;
    z-index: 6;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgb(0 0 0 / 52%);
}
.window_goods-details:target {
    visibility: visible;
    transition-delay: 0s;
}


.window_goods-details_content .close {
    position: absolute;
    right: 15px;
    top: 2%;
    color: #000;
    font-size: 2em;
}
.text_window_details{
    display: grid;
    grid-template-columns:1fr  .5fr;
    grid-template-rows: 1fr 2fr;
    justify-content: space-around;
    height: 20%;
    padding: 1% 5%;
    margin-top: 14px;
}
/* фоновое закрытие */
.close-popup {
    position: fixed;
    right: 15px;
    top: 2%;
    background-color: black;
    color: #000;
    z-index: 3;
    width: 100%;
}
.window_goods-details:target + .close-popup{
   display: none;
   visibility: visible;
   transition-delay: 0s;
   pointer-events: all;
}



.text_goods{
    display: grid;
    height: 30%;
    justify-content: space-between;
    grid-template-columns:40% .8fr ;
    grid-template-rows: 1fr  50px ;
    padding: 0 2%;
    grid-column-gap: 1rem;
    font-family: 'Verdana';
    font-size: 16px;
    
}
.btns_goods_buys{
    display: grid; grid-row-gap: .5rem;
}
.btn_buy_goods{
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    background-color: #111;
}
.btn_details_buy{
    border-radius: 10px;
    text-align: center;
    padding-top: 5%;
    background-color: #111;
}









.info_consultant{
    height: max-content;
    background-color: #8c8c8c;
    padding: 5% 8% ;
    box-shadow: 5px 5px 5px rgba(206, 206, 206, 1);

}
.tittle_info-consultant{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: 'Verdana';
    margin-bottom: 3%;
}
.consultant_info{
    display: grid;
    grid-row-gap: 15%;
    grid-column-gap: 5%;
    grid-template-columns:repeat(2, 2.5fr) ;
    justify-content: space-between;
    margin-bottom: 5%; 
}
.circle_img-consultant{
    display: block;
    background-color: rgba(206, 206, 206, 0.8);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-image: url(../img/img_consultant_men.jpg);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: 50% 20%;
}

.column_info-consultant{
    display: grid;
    grid-template-columns: .2fr 1.3fr;
}
.text_consultant_info{
    padding: 5%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* BRENDS BLOCK */

.brands{
    height: max-content;
    background-color: #797979;
    display: flex;   
    width: 100%;
    flex-direction: column;
}
.tittle_brands{
    color: #fff;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 5%;
}

.container_brands{
    display: flex;
    margin-bottom: 5%;
    flex-wrap: wrap;
}
.brands_inner{
    margin: 3% 5% 0 5%;
}
/* PROMOTIONS */
.promotions_info{
    padding: 25px 25px;
    height: 600px;
    background-color: rgb(151, 151, 151);
}
.right_text-info{
    font-size: large;
    text-align: right;
}
.left_text-info{
    font-size: large;
    text-align: left;
}   
.text_promotions-info{
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-row-gap: 2rem;
}
.company__info{
    height: 70vh;
    background-color: rgb(160, 158, 158);
    padding:2% 5%;
}
.of-company__titile{
    color: #fff;
    opacity: 1;
    font-weight: bold;
    text-align: center;
    width: 60%;
    margin: 0 auto 3%;
    padding:0 10%;
    text-transform: uppercase;
}
.text_company__info{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 245, 245);
}

:focus{
    border: 0;
    outline: 0;
}
#re2{
    padding: 20px;
    border:0;
    outline: 0;
    border-radius: 3%;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 245, 245);
}
.line{
    height: 2px;
    width: 750px;
    color: #000;
    display: inline-block;
    background-color: rgb(200, 213, 252);
}
.forms-follow{
    
    display: grid;
    grid-template-columns:.6fr 3fr;
    grid-template-rows: .4fr ;
    align-items: center;
}
.follow{
    margin-top: 5%;
    display: grid;
    grid-column-gap: 2%;
    grid-template-columns:.3fr .2fr;
}

.btn_follow{
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 245, 245);
    border-radius: 3%;
    border:0;
    background-color: rgb(200, 213, 252);;
}.btn_follow:focus{
    border:1px solid aqua;
    background-color: rgb(200, 213, 252);;
}